<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="UTF-8" />

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}" />

<title th:text="${titulo}"></title>
</head>
<body>
	<div class="container">
		<h1 class="well " th:text="${titulo}"></h1>
		<form th:action="@{insertar}" th:object="${Cliente}" method="post">
			<table>
				<tr>Id <input type="text" th:fi /> </tr>
				<tr>Edad</tr>
				<tr>Fecha nacimiento</tr>
				<tr>Nombre:</tr>
			</table>
		</form>
	</div>
</body>
</html>