<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="UTF-8" />

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}" />

<title th:text="${titulo}"></title>
</head>
<body>
	<div class="container">
		<h1 class="well " th:text="${titulo}"></h1>
		<!-- 		<div class="table-wrapper-scroll-y"> -->
		<table class="table table-striped">
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Fecha Nacimiento</th>
				<th>Fecha Alta</th>
				<th>opciones</th>
			</tr>
			<!-- Se llamará a los ggeters de la clase C -->
			<tr th:each="c : ${clientes}">
				<td th:text="${c.id}" />
				<td th:text="${c.nombre}" />
				<td th:text="${c.apellido}" />
				<td th:text="${c.fecNac}" />
				<td th:text="${c.fecAlta}" />
				<td><a th:href="@{/formulario/} + ${c.id}" class="btn btn-success">Editar</a></td>
			</tr>
		</table>
		<!-- 		</div> -->
	</div>
</body>
</html>